html, body{
	padding: 0;
	margin: 0;
	background-color: #f2eff4;
}

img {
	display: block;
	margin: 0 auto;
}

/* HEADER */

.header{
	background: transparent url("../img/placeholder.jpg") no-repeat center top;
	background-size: cover;
}

.logo{
	margin-top: 4rem;
	position: relative;
	text-align: center;
}

.page-title{
	position: relative;
	text-align: center;
}

.navigation{
	padding: 0;
	margin: 0;
	margin-bottom: 0.5rem;
}

.nav{
	margin: 0;
	padding: 0;
	text-decoration: none;
	position: relative;
	text-align: center;
}

.nav-link{
	color: white;
	display: block;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
}

/* WHY */

.why p{
	position: relative;
	text-align: center;
	padding: 10% 0 10% 0;
	margin-left: 1em;
	margin-right: 1em;
	line-height: 1.6;
}

/* ABOUT */

.about{
	margin-top: 
}






