html, body{
	padding: 0;
	margin: 0;
	background-color: #f2eff4;
}

img {
	display: block;
	margin: 0 auto;
}

section{
	padding-top: 1em;
	padding-bottom: 1em;
	margin:0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: gray;
}

/* HEADER */

.header{
	background: transparent url("../img/placeholder.jpg") no-repeat center top;
	background-size: cover;
}

.logo{
	position: relative;
	text-align: center;
}

.page-title{
	position: relative;
	text-align: center;
}

.navigation{
	padding: 0;
	margin: 0;
}

.nav{
	margin: 0;
	padding: 0;
	text-decoration: none;
	position: relative;
	text-align: center;
}

.nav-link{
	color: white;
	display: block;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
}

/* WHY */

.why p{
	position: relative;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
}